#chooseBuild {
  display: none;
  opacity: 0;
  background: #121212;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em 1em 1em 300px;
  z-index: 500;
  overflow-y: scroll;
}

@media screen and (max-width: 950px) {
  #chooseBuild {
    padding: 1em;
  }
}
