@use 'sass:math';

$font: 'Roboto Mono', monospace;
$font-heading: 'Roboto Mono', monospace;
$font-body: normal 14pt/25px 'Roboto Mono', monospace;

$background: #121212;
$color: #fff;

$accent-color: #00a08f;

$mobile-screen: 950px;

@mixin cross-platform($prop, $value) {
	#{$prop}: $value;
	-moz-#{$prop}: $value;
	-webkit-#{$prop}: $value;
}

html {
	scroll-behavior: smooth;
	-ms-touch-action: manipulation;
	touch-action: manipulation;

	body {
		padding: 0;
		margin: 0;
		background: $background;
		color: $color;
		cursor: default;
		font: $font-body;

		&::selection {
			background: $accent-color;
			color: #000;
		}

		#cnt {
			font: $font-body;
			background: $background;
			height: 100vh;
			padding: inherit;
			margin: inherit;

			* { @include cross-platform('appearance',none); }

			aside {
				display: none;
			}

			header {
				padding: 0;

				#desktopHeader {
					display: block;
					position: fixed;
					top: 0;
					right: 0;
					left: 0;
					padding: 0;
					width: 100%;
					height: auto;
					background: rgba(33,33,33,.7);
					transition: ease 200ms;
					box-shadow: 0 0 10px rgba(0,0,0,.35);
					z-index: 9000;

					&:hover {
						background: rgba(33,33,33,.9);
					}
				}

				#mobileHeader {
					display: none;
					position: fixed;
					top: 0;
					right: 0;
					left: 0;
					padding: 0 1em;
					background: rgba(33,33,33,.7);
					transition: ease 200ms;
					box-shadow: 0 0 10px rgba(0,0,0,.35);
					z-index: 9000;

					div {
						padding: 0 10px;
					}
				}

				#mobileHeaderContent {
					display: none;
					position: fixed;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					height: 100vh;
					padding: 0 1em;
					margin: 0;
					background: rgba(33,33,33,.9);
					overflow-y: auto;
					z-index: 8999;

					div {
						padding: 0 10px;
					}
				}
			}

			.logoImg {
				height: 35px;
			}

			main {
				margin: 0;
			}

			section {
				padding: 0 1em;
			}

			table {
				margin: 0;
				padding: 0;
			}

			.headerBtn {
				font-family: $font;
				display: inline-block;
				width: auto;
				background: rgba(33,33,33,.7);
				color: $color;
				padding: 1rem;
				text-align: center;
				cursor: pointer;
				text-align: center;
				text-shadow: 0 0 10px #fff8;
				border: 3px solid $accent-color;

				&:hover {
					background: $accent-color;
					color: #000;
					box-shadow: 0 0 10px rgba(0,0,0,.35);
					text-shadow: none;
				}
			}

			.headerBtn1 {
				font-family: $font;
				display: inline-block;
				width: auto;
				background: $accent-color;
				padding: 1rem;
				text-align: center;
				cursor: pointer;
				text-align: center;
				border: 3px solid $accent-color;

				&:hover {
					background: #dabd57;
					box-shadow: 0 0 10px rgba(0,0,0,.35);
					border: 3px solid #dabd57;
				}
			}

			.header {
				font-family: $font;
				height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				div {
					cursor: default;

					&::selection {
						background: transparent;
						color: $color;
					}
				}
			}

			.header-no-row {
				height: 100vh;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}

			.headerBg {
				position: relative;
				height: 100vh;
			}

			.headerTxt {
				text-shadow: 0 0 10px #fff8;
				background: rgba(33,33,33,.7);
				color: $color;
				padding: 1rem;
			}

			#typeWriteWelcome::after {
				content: '|';
				animation: 1s welcomeType infinite;
				animation-delay: 2s;
			}

			@keyframes welcomeType {
				0% { opacity: 0; }
				25% { opacity: 0; }
				30% { opacity: 1; }
				70% { opacity: 1; }
				75% { opacity: 0; }
				100% { opacity: 0; }
			}

			#featured {
				background: #212121;
			}

			#contact {
				background: $background;
			}

			#homeImage1 {
				position: relative;
				float: left;
				box-shadow: inset -150px 0 100px rgba(18,18,18,1);
			}

			#homeImage1Txt {
				transform: translateX(-50px);
			}

			@media screen and (max-width: 950px) {
				#homeImage1 {
					position: relative;
					float: left;
					box-shadow:
					inset 0 -150px 100px rgba(18,18,18,1);
				}

				#homeImage1Txt {
					transform: translateY(-50px);
				}
			}

			footer {
				margin: 0;
				padding: 1rem 5rem;
				background: #212121;
			}


			@media screen and (max-width: 950px) {
				#homeImage1 {
					position: relative;
					float: left;
					box-shadow:
					inset 0 -150px 100px rgba(18,18,18,1);
				}

				#homeImage1Txt {
					transform: translateY(-50px);
				}
			}

			a {
				color: $accent-color;
				transition: ease 50ms;
				text-decoration: none;
			}

			a:hover {
				border-bottom: 3px solid $accent-color;
			}

			.noLink {
				color: $color;
				transition: none;
				text-decoration: none;
			}

			.noLink:hover {
				border-bottom: none;
			}

			nav {
				font-family: 'Roboto Mono', monospace;
				font-size: 25px;
				margin: 0;
				padding: 0;
			}

			.logoTxt {
				font-size: 48px;
				font-weight: 800;
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				color: $color;
			}

			.navBtn {
				width: 100%;
				cursor: pointer;
				margin: 2.5px 10px;
				transition: ease 100ms;
			}

			.navBtn:hover {
				color: $accent-color;
			}

			.navDrop {
				position: relative;
			}

			.navDropBtn {
				cursor: pointer;
				margin: 2.5px 10px;
				transition: ease 100ms;
				color: $color;
			}

			.navDropBtn:hover {
				color: $accent-color;
			}

			.navDropCnt {
				display: none;
				position: absolute;
				top: 50px;
				right: 0;
				background: rgba(33,33,33,.7);
				padding: 10px;
				z-index: 600;
			}

			.navBtnCnt > div {
				text-align: left;
			}

			.navDrop:focus > .navDropCnt {
				display: block;
			}

			.navBtnSelected {
				color: $accent-color;
				cursor: default;
			}

			.navBtnTxt {
				white-space: nowrap;
				font-size: 20px;
			}

			.footerTxt {
				bottom: 5px;
			}

			.row {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
			}

			.row1 {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: flex-start;
			}

			.row2 {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}

			.column {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
			}

			.column1 {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: flex-start;
			}

			.column2 {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
			}

			.column3 {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: flex-end;
			}

			.flexbox {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
			}

			.flexbox1 {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: flex-start;
			}

			.flexbox2 {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}

			.flexbox3 {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;
			}

			.flexbox4 {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;
			}

			@for $i from 1 through 25 {
				$j: $i * 10;

				.ws#{$j} {
					height: #{$j}px;
				}

				.vws#{$j} {
					width: #{$j}px;
				}

				.fws#{$j} {
					height: #{$j}px;
				}

				.fvws#{$j} {
					width: #{$j}px;
				}

				.fiws#{$j} {
					height: #{$j}px;
				}

				.fdiws#{$j} {
					height: #{$j}px;
				}

				.fivws#{$j} {
					width: #{$j}px;
				}

				.fdivws#{$j} {
					width: #{$j}px;
				}

				@media screen and (max-width: $mobile-screen) {
					.fws#{$j} {
						width: #{$j}px;
					}

					.fvws#{$j} {
						height: #{$j}px;
					}

					.fiws#{$j} {
						height: #{$j * 2}px;
					}

					.fdiws#{$j} {
						height: #{$j / 2}px;
					}

					.fivws#{$j} {
						height: #{$j}px;
					}

					.fdivws#{$j} {
						height: #{$j * 2}px;
					}
				}
			}

			.hr {
				width: 100%;
				height: 5px;
				border-radius: 2.5px;
				background: #b3b3b3;
			}

			.hr1 {
				width: 50%;
				height: 5px;
				border-radius: 2.5px;
				background: #b3b3b3;
			}

			.hr2 {
				width: 25%;
				height: 5px;
				border-radius: 2.5px;
				background: #b3b3b3;
			}

			.hrg {
				width: 100%;
				height: 5px;
				border-radius: 2.5px;
				background: #535353;
			}

			.hrg1 {
				width: 50%;
				height: 5px;
				border-radius: 2.5px;
				background: #535353;
			}

			.hrg2 {
				width: 25%;
				height: 5px;
				border-radius: 2.5px;
				background: #535353;
			}

			@for $i from 1 through 6 {
				.h#{$i} {
					$j: 7 - $i;
					@if (7 - $i) == 1 {
						font: #{$j * 12}px $font-heading;
					} @else {
						font: #{($j * 12) - 12}px $font-heading;
					}
				}

				@media screen and (max-width: $mobile-screen) {
					.h#{$i} {
						font: #{(7 - $i) * (12 * (1 - (1 / 3)))}px $font-heading;
					}
				}
			}

			.txthex121212 {
				background: $background;
				color: $color;
				padding: .875rem;
				cursor: text;
			}

			.txt1hex121212 {
				background: $background;
				color: $color;
				padding: .875rem;
				font-size: 30px;
				cursor: text;
			}

			.txthex212121 {
				background: #212121;
				color: $color;
				padding: .875rem;
				cursor: text;
			}

			.txt1hex212121 {
				background: #212121;
				color: $color;
				padding: .875rem;
				font-size: 30px;
				cursor: text;
			}

			.txthex313131 {
				background: #313131;
				color: $color;
				padding: .875rem;
				cursor: text;
			}

			.txt1hex313131 {
				background: #313131;
				color: $color;
				padding: .875rem;
				font-size: 30px;
			}

			.searchbox {
				font-size: 18px;
				background: #212121;
				border-radius: 10px 0 0 10px;
				height: 50px;
				padding: 10px;
				border: none;
				float: left;
				width: 400px;
			}

			.searchbox:focus {
				background: #303030;
				color: $accent-color;
				border: none;
				padding: 10px;
			}

			.btn {
				font-family: $font;
				font-size: 18px;
				display: inline-block;
				max-width: 200px;
				background: #535353;
				color: $color;
				padding: 10px;
				text-align: center;
				border: none;
				border-radius: 10px;
				transition: ease 100ms;
				cursor: pointer;
			}

			.btn:hover {
				background: $accent-color;
				color: #000;
				box-shadow: 0 0 10px rgba(0,0,0,.35);
			}

			.btnLink {
				transition: ease 150ms;
				cursor: pointer;
			}

			.btnLink:hover {
				color: $accent-color;
			}

			.btnDrop {}

			.btnDropCnt {}

			.switch {
				cursor: pointer;
				display: inline-block;
				transition: all 200ms ease;
			}

			.switchBtn {
				width: 70px;
				height: 36px;
				background: #535353;
				position: relative;
				border-radius: 20px;
				border: 2px solid #535353;
				box-shadow: 0 0 3px rgba(0,0,0,.35);

				&::before {
					content: '';
					border-radius: 50%;
					position: absolute;
					width: 36px;
					height: 36px;
					background: #fff;
					top: 0;
					left: 0;
					transition: all 200ms ease;
				}
			}

			input[type=checkbox] {
			 	display: none;
			 	transition: 200ms ease;

			 	&:checked {
			 		+ .switchBtn {
						background: $accent-color;
						border: 2px solid $accent-color;

						&::before {
							left: 34px;
						}
					}
				}
			}

			input {
				background: transparent;
				border: none;
				border-bottom: 0px solid #535353;
				padding: 0 0 10px 0;
				border-color: #535353;
				color: $color;
				transition: ease 100ms;
				font-family: $font;
				font-size: 18pt;

				&:focus {
					border-bottom: 3px solid $accent-color;
					padding: 0 0 7px 0;
					border-color: $accent-color;
					color: $accent-color;
				}
			}

			input[type=submit] {
				cursor: pointer;
				border: none;
				border-radius: 10px;
				background: #535353;
				color: $color;
				padding: .875rem;
				margin: 0;
				font-size: 18pt;
				font-family: $font;
				transition: ease 100ms;

				&:hover {
					background: $accent-color;
					color: #000;
					transition: none;
				}
			}

			button[type=submit] {
				cursor: pointer;
				border: none;
				border-radius: 10px;
				background: #535353;
				color: $color;
				padding: .875rem;
				margin: 0;
				font-size: 18px;
				font-family: $font;
				transition: ease 100ms;

				&:hover {
					background: $accent-color;
					color: #000;
					transition: none;
				}
			}

			textarea {
				border: none;
				border-radius: 10px;
				background: #535353;
				color: $color;
				padding: .875rem;
				margin: 0;
				font-size: 16px;
				font-family: $font;
				transition: ease 100ms;
				width: 90%;
				min-height: 200px;
			}

			#sign-in-box {
				padding: 0 0 0 10px;
				border-radius: 10px;
				background: #212121;
			}

			@media screen and (max-width: 950px) {
				#sign-in-box {
					padding: 20px 15px 0 15px;
					border-radius: 10px;
					background: #212121;

					div {
						margin: 0 0 10px 0;
					}
				}

				#sign-in-btn {
					&::after {
						content: ' Sign in';
					}
				}
			}

			.fade-in {
				opacity: 0;
				transform: translateY(20vh);
				visibility: hidden;
				transition: opacity 0.6s ease-out, transform 1.2s ease-out;
				will-change: opacity, visibility;

				&.is-visible {
					opacity: 1;
					transform: none;
					visibility: visible;
				}
			}

			.lang-icon {
				img {
					height: 35px;
					border-radius: 5px;
					margin: 0 5px;
					cursor: pointer;
				}
			}

			.popup {
				position: fixed;
				z-index: 9999;
				background: #212121;
				border-radius: 5px;
				box-shadow: 0 0 10px #0003;
				top: 100px;
				right: 25vw;
				bottom: 100px;
				left: 25vw;
				padding: 1em;

				&::after {
					position: fixed;
					z-index: 9998;
					background: #5555;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}
			}

			.adminDomAside {
				display: block;
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				z-index: 5000;
				background: #000;
				padding: 10px;
				background: rgba(33,33,33,.7);
				box-shadow: 0 0 10px rgba(0,0,0,.35);
				transition: ease 200ms;
				font-size: 16px;
				overflow-y: auto;

				&:hover {
					background: rgba(33,33,33,.9);
				}
			}

			#domMain {
				z-index: 4000;
			}

			.ip-item {
				padding: 10px;
				border-radius: 10px;
				background: #212121;
				color: $color;
				margin: 5px;
			}

			.flexHalf {
				width: 50%;
			}

			@media screen and (max-width: 950px) {
				#desktopHeader {
					display: none;
				}

				#mobileHeader {
					display: block;
				}

				.logoTxt {
					font-size: 42px;
				}

				main {
					margin: 0;
				}

				section {
					padding: 0 1em;
				}

				footer {
					padding: 1rem;
				}

				.flexbox {
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
				}

				.flexbox1 {
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: flex-start;
				}

				.flexbox2 {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
				}

				.flexbox3 {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-start;
				}

				.flexbox4 {
					display: flex;
					flex-direction: column;
					justify-content: initial;
					align-items: flex-start;
				}

				.navBtn {
					margin: 10px 0;
					font-size: 30px;
				}

				.hr {
					width: 100%;
					height: 5px;
					border-radius: 2.5px;
					background: #b3b3b3;
				}

				.hr1 {
					width: 75%;
					height: 5px;
					border-radius: 2.5px;
					background: #b3b3b3;
				}

				.hr2 {
					width: 50%;
					height: 5px;
					border-radius: 2.5px;
					background: #b3b3b3;
				}

				.hrg {
					width: 100%;
					height: 5px;
					border-radius: 2.5px;
					background: #535353;
				}

				.hrg1 {
					width: 75%;
					height: 5px;
					border-radius: 2.5px;
					background: #535353;
				}

				.hrg2 {
					width: 50%;
					height: 5px;
					border-radius: 2.5px;
					background: #535353;
				}

				.navDrop {
					position: static;
					margin: 10px 0;
				}

				.navDropBtn {
					display: block;
					width: 100%;
					cursor: pointer;
					margin: 10px 0;
					transition: ease 100ms;
					color: $color;
				}

				.navDropCnt {
					display: none;
					position: static;
					top: auto;
					right: auto;
					background: transparent;
					padding: 10px;
					z-index: auto;
				}

				.navBtnCnt {
					div {
						text-align: left;
					}
				}

				.navDrop:focus > .navDropCnt {
					&:focus {
						.navDropCnt {
							display: block;
						}
					}
				}

				.searchbox {
					font-size: 18px;
					background: #212121;
					border-radius: 10px 0 0 10px;
					height: 50px;
					padding: 10px;
					border: none;
					float: left;
					width: 80%;
				}

				.popup {
					position: fixed;
					z-index: 9999;
					background: #212121;
					border-radius: 5px;
					box-shadow: 0 0 10px #0003;
					top: 25vh;
					right: 100px;
					bottom: 25vh;
					left: 100px;
				}

				.flexHalf {
					width: 100%;
				}
			}
		}
	}
}