#scratchBuild-pcb {
	opacity: 0;
	transform: none;
}

.scratchBuildSection {
	display: none;
	background: #121212;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 3em;
	z-index: 500;
	overflow-y: scroll;
	transform: translateY(100vh);
}

#animate_box_page_builder_0001 {
	transition: all 400ms ease;
}

.builder_options > .row2 {
	width: 40%;
}

.scratchBuilderList {
	width: 50%;
}

.dropList {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.dropListBtn {
	min-width: 200px;
	padding: 10px;
	background: #535353;
	border-radius: 10px;
}

.dropListCnt {
	display: none;
	position: fixed;
	top: 2.5vh;
	right: 2.5vw;
	bottom: 2.5vh;
	left: 250px;
	background: #535353;
	border-radius: 10px;
	overflow-y: scroll;
}

.dropListCnt span {
	display: block;
	color: #fff;
	padding: 10px;
	cursor: pointer;
	border-radius: 10px;
}

.dropList span:hover {
	background: #fbdf79;
	color: #000;
}

.dropList:focus .dropListCnt {
	display: block;
	z-index: 200;
}

.dropList:focus .dropListBtn {
    background: #fbdf79;
    color: #000;
}

.partsAvailableTitle {
	cursor: default;
}

.keyboardOptionsWrapper {
	margin: 1rem;
}

.keyboardOptionsWrapper span {
	text-transform: lowercase;
}

.keyboardOptionsWrapper span::first-letter {
	text-transform: uppercase;
}

.searchList {
	list-style-type: none;
	overflow-y: auto;
	background: #212121;
	border-radius: 10px;
	margin-right: 300px;
	padding: .875em 1em;
}

.searchItem {
	margin: 3px 0;
	background: #535353;
	color: #fff;
	transition: ease 100ms;
	cursor: pointer;
	border-radius: 7.5px;
	display: inline-block;
	width: auto;
}

.searchItem:hover {
	background: #00a08f;
	color: #000;
	box-shadow: 0 0 10px rgba(0,0,0,.35);
}

.searchItemInput {
	display: none;
}

.searchItemInput + label {
	margin: 5px;
}

.searchItemInput::checked + label {
	background: #00a08f;
	color: #000;
	box-shadow: 0 0 10px rgba(0,0,0,.35);
}

@media screen and (max-width: 950px) {
	.scratchBuildSection {
		padding: 1em;
	}

	.builder_options > .row2 {
		width: 100%;
	}

	.scratchBuilderList {
		width: 100%;
	}

	.dropListCnt {
		top: 75px;
		left: 2.5vw;
	}

	.searchList {
		overflow-y: auto;
		background: #212121;
		border-radius: 10px;
		width: 80%;
		margin-right: auto;
	}
}
